SUPABASE_URL=
SUPABASE_SECRET_KEY=
SUPABASE_PUBLISHABLE_KEY=
ALLOWED_LOGIN_PHONE=+9665XXXXXXXX
GREEN_API_API_URL=https://api.green-api.com
GREEN_API_ID_INSTANCE=YOUR_INSTANCE_ID
GREEN_API_TOKEN_INSTANCE=YOUR_INSTANCE_TOKEN
SUPABASE_SEND_SMS_HOOK_SECRET=
